   {% extends "base.html" %}
   {% block title %}Inicio{% endblock  %}

     
   {% block head %} <link rel="stylesheet" href="../static/css/index-style.css" /> {% endblock  %}

   

   {% block content %}


   <h1 class="intro">La depresión es un trastorno mental común. Se estima que en todo el mundo, el 5% de los adultos padecen depresión.</h1>
   
   <p class= "intro" style="margin-top: 100px;">¿Crees sufrir depresión?</p> 
   
   <div class="parrafos">
    <p style="margin-top: 170px;">¡Nosotros te podemos apoyar!</p> 
   </div>
  
   <p class="intro" style="margin-top: 300px;">Contesta el siguiente cuestionario:</p>

  
    <form method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        <div class="forms-index">{{ form.name(class_="forms-design-index") }}</div>
        
        <br>

        <div class="forms-index" style="margin-top: 120px;">{{ form.age_range(class_="select-design-index") }}</div>

        <br>
        <div class="forms-index" style="margin-top: 220px;">{{ form.submit(class_="button-design-index") }}</div>
    </form>



   {% endblock  %}